.switch-div {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 32px;
}

.switch {
	cursor: pointer;
	position: relative;
	border: 1px solid transparent;
	border-radius: 20px;
	vertical-align: middle;
	text-align: center;
}

.switch-s {
	padding: 2px 5px;
	font-size: .8rem;
}

.switch-m {
	padding: 4px 5px;
	font-size: 1rem;
}

.switch-l {
	padding: 6px 5px;
	font-size: 1.2rem;
}

.switch-xl {
	padding: 8px 5px;
	font-size: 1.4rem;
}

.switch-basic {
	color: #fff;
	border-color: #03a9f4;
	background-color: #03a9f4;
}

.switch-off {
	color: #fff;
	border-color: #434444;
	background-color: #434444;
}

.toggle {
	position: absolute;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle-s {
	height: 15px;
	width: 15px;
	bottom: 2px;
}

.toggle-m {
	height: 18px;
	width: 18px;
	bottom: 3px;
}

.toggle-l {
	height: 23px;
	width: 23px;
	bottom: 4px;
}

.toggle-xl {
	height: 28px;
	width: 28px;
	bottom: 5px;
}

.t-off {
	left: 0;
	margin-left: 4%;
}

.t-on {
	right: 0px;
	margin-right: 3%;
}
